#popup {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.content-popup {
    margin:0px auto;
    margin-top:310px;
    margin-left:195px;
    position:relative;
    padding:10px;
    width:700px;
    min-height:250px;
    /*background-color:#F1F1F1;*/
    background-color:#c0c0c0;
    
}

.content-popup h2 {
    color:#48484B;
    border-bottom: 1px solid #48484B;
    margin-top: 0;
    padding-bottom: 4px;
}

.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display:none;
    background-color: #777777;
    cursor: pointer;
    
}

.close {
    position: absolute;
    right: 15px;
}
